{% extends "_base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Mano tengo fe!</h1>
    {% if user.is_authenticated %}
        <p>Epale {{ user.email }}</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <p>No estás registrado</p>
        <a href="{% url 'login' %}">Log In</a> <!--login es el parametro que aparece en la url como name -->
    {% endif %}
{% endblock content %}